@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Lateef&family=Open+Sans:wght@400;600;700&family=Poppins:wght@400;500;600&family=Roboto&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
:root {
  --container-width: 1310px;
  --accent-color: #4AB45E;
}

body {
  font-family: "Roboto", sans-serif;
}
body._lock {
  overflow: hidden;
}

.none {
  display: none;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

/*------------------- Container ----------------------- */
[class*=__container] {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 15px;
}

/*------------------- Container ----------------------- */
/*------------------- General ----------------------- */
.header-block__suptitle {
  font-family: "Poppins", sans-serif;
  color: var(--accent-color);
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.header-block__title {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: clamp(1.875rem, 1.552rem + 1.62vw, 2.875rem);
  line-height: 1.2;
  text-transform: capitalize;
  color: #14183E;
}

.button {
  font-family: "Inter", sans-serif;
  display: inline-block;
  color: #fff;
  background-color: var(--accent-color);
  border-radius: 4px;
}

/*------------------- Header ----------------------- */
.header {
  padding: 40px 0;
  position: absolute;
  width: 100%;
  z-index: 2000;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 820px) {
  .menu {
    position: absolute;
    left: -100%;
    top: 0;
  }
}
.menu._active {
  left: 0;
  width: 80%;
  height: 100vh;
  background-color: #223638;
  -webkit-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: clamp(1.875rem, -0.286rem + 4.17vw, 3.125rem);
}
@media (max-width: 820px) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 50px 0;
    font-size: 40px;
  }
}

.menu__link {
  font-weight: 500;
  font-size: 17px;
  line-height: 1.24;
  /* identical to box height */
  color: #ffffff;
  position: relative;
}
.menu__link::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  right: 0;
  position: absolute;
  bottom: -10px;
  -webkit-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
  background-color: var(--accent-color);
}
@media (any-hover: hover) {
  .menu__link:hover::after {
    width: 100%;
    right: 0;
  }
}

.burger-icon {
  display: none;
}
@media (max-width: 820px) {
  .burger-icon {
    display: block;
    height: 18px;
    width: 30px;
    position: relative;
    cursor: pointer;
    z-index: 5;
  }
  .burger-icon span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: rgb(255, 255, 255);
  }
  .burger-icon span:first-child {
    top: 0;
  }
  .burger-icon span:last-child {
    top: auto;
    bottom: 0;
  }
  .burger-icon._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }
  .burger-icon._active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .burger-icon._active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}

/*------------------- Header ----------------------- */
/*------------------- Intro ----------------------- */
.intro {
  background: url(./../img/bg.png) center center/cover no-repeat;
}

.intro__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 192px 0 71px;
  gap: 50px;
  font-family: "Inter", sans-serif;
}
@media (max-width: 767.98px) {
  .intro__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

.intro__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.intro__title {
  font-weight: 800;
  font-size: clamp(2rem, 1.515rem + 2.42vw, 3.5rem);
  line-height: 1.57;
  color: #FFFFFF;
  margin-bottom: 10px;
}

.intro__text {
  font-weight: 400;
  font-size: clamp(1rem, 0.96rem + 0.2vw, 1.125rem);
  line-height: 2.67;
  color: #Fff;
  margin-bottom: 30px;
}

.intro__button {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  padding: 19px 33.5px;
  -webkit-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
}
@media (any-hover: hover) {
  .intro__button:hover {
    background-color: #358043;
  }
}

.intro__slider {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  min-width: 0;
  overflow: hidden;
}
@media (max-width: 767.98px) {
  .intro__slider {
    overflow: visible;
  }
}

.slider-intro {
  min-width: 0;
  width: 607px;
}

.swiper-wrapper {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.intro-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 310px;
  background: rgba(255, 255, 255, 0.05);
  -webkit-backdrop-filter: blur(93.4834px);
          backdrop-filter: blur(93.4834px);
  border-radius: 7.67689px;
}

.intro-slide__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 14px 16px 21px;
}

.intro-slide__img {
  width: 100%;
  aspect-ratio: 0.83/1;
}
.intro-slide__img img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  border-radius: 7.67689px;
  max-width: 100%;
}

.intro-slide__desc {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  margin-top: 18px;
  color: #FFFFFF;
}

.slider-intro__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-top: 40px;
}
@media (max-width: 640px) {
  .slider-intro__buttons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.buttons-slider__button {
  padding: 12px 16px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  cursor: pointer;
}
@media (any-hover: hover) {
  .buttons-slider__button:hover {
    background-color: var(--accent-color);
  }
}
.buttons-slider__button svg {
  opacity: 0.6;
}
@media (any-hover: hover) {
  .buttons-slider__button svg:hover {
    opacity: 1;
  }
}

.buttons-slider__left svg {
  -webkit-transform: translateY(2px);
      -ms-transform: translateY(2px);
          transform: translateY(2px);
}

.buttons-slider__right {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

/*------------------- Intro ----------------------- */
/*------------------- About ----------------------- */
.about {
  padding: clamp(1.875rem, 0.461rem + 7.07vw, 6.25rem) 0 clamp(1.875rem, 0.966rem + 4.55vw, 4.688rem);
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}
@media (max-width: 992px) {
  .about__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.about__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.about__header {
  margin-bottom: 21px;
}

.about__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.5);
}
.about__text p:not(:last-child) {
  margin-bottom: 25px;
}
@media (max-width: 992px) {
  .about__text p:not(:last-child) {
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  }
}

.about__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
.about__img img {
  max-width: 100%;
}

/*------------------- About ----------------------- */
/*------------------- Video ----------------------- */
.promo {
  padding: clamp(1.875rem, 0.966rem + 4.55vw, 4.688rem) 0;
}

.promo__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.promo__header {
  margin-bottom: 50px;
  text-align: center;
}

.promo__video {
  text-align: center;
  position: relative;
  width: 71%;
  margin: 0 auto;
}
.promo__video img {
  border-radius: 10px;
  max-width: 100%;
}
@media (max-width: 767.98px) {
  .promo__video {
    width: 100%;
  }
}

.video-overlay::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2)));
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  border-radius: 10px;
}

.promo__preview {
  position: absolute;
  top: 0;
  left: 0;
}

.promo__play {
  position: absolute;
  z-index: 200;
  top: 50%;
  left: 50%;
  background-color: transparent;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.video-object {
  cursor: pointer;
  width: 100%;
  border-radius: 10px;
  vertical-align: top;
}

/*------------------- Video ----------------------- */
/*------------------- Service ----------------------- */
.service {
  padding: clamp(1.875rem, 0.966rem + 4.55vw, 4.688rem) 0;
}

.service__header {
  text-align: center;
  margin-bottom: clamp(3.125rem, 2.58rem + 2.73vw, 4.813rem);
}

.service__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 992px) {
  .service__body {
    row-gap: 30px;
  }
}
@media (max-width: 600px) {
  .service__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 50px;
  }
}

.service__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  margin: 0 -20px;
  position: relative;
}
.service__col:nth-child(1) .item-service__icon {
  position: relative;
}
.service__col:nth-child(1) .item-service__icon::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 49px;
  background: rgba(243, 109, 79, 0.09);
  bottom: 10%;
  right: 30%;
  border-radius: 18px 5px 10px;
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
.service__col:nth-child(2) {
  background: #FFFFFF;
}
.service__col:nth-child(2) .item-service__icon {
  position: relative;
}
.service__col:nth-child(2) .item-service__icon::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 49px;
  background: rgba(243, 109, 79, 0.0901960784);
  top: -15%;
  left: 30%;
  border-radius: 18px 5px 10px;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.service__col:nth-child(2)::after {
  content: "";
  display: block;
  width: 100px;
  position: absolute;
  height: 100px;
  background-color: #FEF2EF;
  border-radius: 30px 0px 10px;
  bottom: -33px;
  left: -35px;
  z-index: -1;
}
.service__col:nth-child(3) .item-service__icon {
  position: relative;
}
.service__col:nth-child(3) .item-service__icon::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 49px;
  background: rgba(243, 109, 79, 0.09);
  top: -10%;
  right: 35%;
  border-radius: 18px 5px 10px;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.service__col:nth-child(4) .item-service__icon {
  position: relative;
}
.service__col:nth-child(4) .item-service__icon::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 49px;
  background: rgba(243, 109, 79, 0.09);
  bottom: 10%;
  right: 30%;
  border-radius: 18px 5px 10px;
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
@media (max-width: 992px) {
  .service__col {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    text-align: center;
    margin: 0 auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.service__item {
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item-service__icon {
  margin-bottom: clamp(1.25rem, 0.846rem + 2.02vw, 2.5rem);
  text-align: center;
  height: 86px;
}
.item-service__icon img {
  max-width: 100%;
}

.item-service__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  font-family: "Inter", sans-serif;
  margin-bottom: clamp(0.313rem, 0.05rem + 1.31vw, 1.125rem);
  color: #1E1D4C;
}

.item-service__desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: #5E6282;
}

/*------------------- Service ----------------------- */
/*------------------- Pricing ----------------------- */
.pricing {
  padding: clamp(1.875rem, 0.966rem + 4.55vw, 4.688rem) 0;
}

.pricing__header {
  margin-bottom: clamp(1.875rem, -8.713rem + 21.18vw, 8.625rem);
  text-align: center;
}

.pricing__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 10px;
}
@media (max-width: 800px) {
  .pricing__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.pricing__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.pricing__column_active {
  margin-top: -90px;
}
@media (max-width: 992px) {
  .pricing__column_active {
    margin-top: -60px;
  }
}
@media (max-width: 800px) {
  .pricing__column_active {
    margin-top: 0;
  }
}
.pricing__column_active .item-pricing__thumb {
  max-width: 350px;
}
@media (max-width: 800px) {
  .pricing__column_active .item-pricing__thumb {
    max-width: 500px;
  }
}
.pricing__column_active .item-pricing__price {
  color: var(--accent-color);
}
.pricing__column_active .item-pricing__button {
  background-color: var(--accent-color);
  color: #fff;
}
@media (any-hover: hover) {
  .pricing__column_active .item-pricing__button:hover {
    background-color: #286433;
  }
}
.pricing__column_active .item-pricing__version {
  color: var(--accent-color);
}

.pricing__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 22px 10px 25px;
  font-family: "Inter", sans-serif;
}
@media (max-width: 800px) {
  .pricing__item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.item-pricing__thumb {
  margin-bottom: clamp(0.938rem, 0.359rem + 1.85vw, 1.875rem);
  max-width: 300px;
  aspect-ratio: 1.3/1;
}
.item-pricing__thumb img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 800px) {
  .item-pricing__thumb {
    max-width: 500px;
  }
}

.item-pricing__version {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  margin-bottom: clamp(0.938rem, 0.59rem + 1.11vw, 1.5rem);
  color: #333333;
}

.item-pricing__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
  margin-bottom: 24px;
  font-size: 16px;
}

.item-pricing__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 212px;
  gap: 13px;
}
.item-pricing__item:last-child span {
  opacity: 0.6;
}
@media (max-width: 800px) {
  .item-pricing__item {
    max-width: none;
  }
}

.item-pricing__price {
  margin-bottom: 16px;
  font-size: 25px;
  line-height: 1.2;
  font-weight: 700;
  color: #333333;
  opacity: 0.96;
}
.item-pricing__price sub {
  opacity: 0.68;
  font-size: 17px;
  font-weight: 400;
}

.item-pricing__button {
  margin: 0 auto;
  text-align: center;
  padding: 15px 77px;
  text-align: center;
  border: 1px solid var(--accent-color);
  background-color: #fff;
  color: var(--accent-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  -webkit-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
}
@media (any-hover: hover) {
  .item-pricing__button:hover {
    background-color: var(--accent-color);
    color: #fff;
  }
}

/*------------------- Pricing ----------------------- */
/*------------------- Questions ----------------------- */
.questions {
  background-color: #f5f5f5;
  padding: clamp(1.875rem, 0.966rem + 4.55vw, 4.688rem) 0;
}

.questions__header {
  text-align: center;
  margin-bottom: clamp(1.25rem, 0.644rem + 3.03vw, 3.125rem);
}

.accordeon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

.accordeon__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Inter", sans-serif;
}

.accordeon__label {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: clamp(1.25rem, 1.048rem + 1.01vw, 1.875rem) 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
  color: #333333;
}

.accordeon__icon {
  -webkit-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
}
.accordeon__icon._active {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.accordeon__content {
  background: #E9E9E9;
  overflow: hidden;
  max-height: 0;
  -webkit-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
}
.accordeon__content span {
  color: #333333;
}

.accordeon__text {
  padding: 22px 20px;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.04em;
  color: rgba(51, 51, 51, 0.8);
}

/*------------------- Questions ----------------------- */
/*------------------- Team ----------------------- */
.team {
  padding: clamp(1.875rem, 0.966rem + 4.55vw, 4.688rem) 0;
}

.team__header {
  color: #333333;
  margin-bottom: 22px;
  text-align: center;
}

.team__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 767.98px) {
  .team__column {
    text-align: center;
    margin: 0 auto;
  }
}

.item-team {
  padding: 19px 21px;
}

.item-team__thumb {
  max-width: 246px;
  aspect-ratio: 0.84/1;
  margin-bottom: 20px;
}
.item-team__thumb img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  -webkit-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
}
@media (any-hover: hover) {
  .item-team__thumb img:hover {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }
}
.item-team__name {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.item-team__prof {
  color: var(--accent-color);
  font-size: 16px;
  font-family: "Poppins";
  font-weight: 500;
}

/*------------------- Team ----------------------- */
/*------------------- Subscribe ----------------------- */
.subscribe {
  padding: clamp(1.875rem, 0.966rem + 4.55vw, 4.688rem) 0;
  position: relative;
}

.subscribe__decor {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #FCF0ED;
  border-radius: 100%;
  padding: 15px;
}

.subscribe__box {
  padding: 80px 0;
  font-family: "Inter", sans-serif;
}

.subscribe__title {
  font-weight: 600;
  font-size: clamp(1.25rem, 0.967rem + 1.41vw, 2.125rem);
  line-height: 1.59;
  text-align: center;
  max-width: 843px;
  margin: 0 auto clamp(2.5rem, 1.813rem + 3.43vw, 4.625rem);
  color: #5E6282;
}

.subscribe__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 24px;
  width: 47%;
  margin: 0 auto;
}
@media (max-width: 520px) {
  .subscribe__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}

.subscribe__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  border-radius: 10px;
  background-color: rgb(220, 219, 219);
  padding: 25px 31px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 67%;
          flex: 0 1 67%;
}

.subscribe__input {
  background-color: transparent;
}
.subscribe__input::-webkit-input-placeholder {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #39425D;
}
.subscribe__input::-moz-placeholder {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #39425D;
}
.subscribe__input:-ms-input-placeholder {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #39425D;
}
.subscribe__input::-ms-input-placeholder {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #39425D;
}
.subscribe__input::placeholder {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #39425D;
}

.subscribe__button {
  padding: 22px 46px;
  -webkit-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 28%;
          flex: 0 1 28%;
  font-size: 18px;
  font-family: "Inter";
  font-weight: 500;
  line-height: 1.2;
}
@media (any-hover: hover) {
  .subscribe__button:hover {
    background-color: #296936;
  }
}

/*------------------- Subscribe ----------------------- */
/*------------------- Footer ----------------------- */
.footer {
  padding-top: clamp(1.875rem, 0.966rem + 4.55vw, 4.688rem);
}

.footer__top {
  margin-bottom: 77px;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 943px) {
  .footer__container {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}
@media (max-width: 767.98px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 211px;
}

.footer__text {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.245;
  color: #5E6282;
  margin-top: 27px;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 77px;
}
@media (max-width: 575px) {
  .footer__nav {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}
@media (max-width: 375px) {
  .footer__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }
}

.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item-footer__title {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.22;
  color: var(--accent-color);
  margin-bottom: clamp(0.938rem, 0.574rem + 1.82vw, 2.063rem);
}

.item-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}

.item-footer__link {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.245;
  color: rgba(51, 51, 51, 0.5);
}
@media (any-hover: hover) {
  .item-footer__link:hover {
    border-bottom: 3px solid var(--accent-color);
  }
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}
@media (max-width: 943px) {
  .footer__socials {
    margin: 0 auto;
  }
}

.footer__social {
  display: block;
  width: 45px;
  height: 45px;
  background-color: var(--accent-color);
  border-radius: 100%;
  position: relative;
  cursor: pointer;
}
.footer__social a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media (any-hover: hover) {
  .footer__social:hover {
    background-color: #296936;
  }
}

.footer__copyright {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.245;
  color: #949494;
  padding-bottom: 23px;
  text-align: center;
}

/*------------------- Footer ----------------------- */